.toolbar {
  padding-inline: 10px;
  display: flex;
  align-items: center;
  background: #969eff;
  height: 50px;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.menu-icon {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
}

.title .menu-icon {
  color: var(--text-color);
}

.searchbox .menu-icon {
  color: #363636;
}

.menu-icon:hover {
  cursor: pointer;
}

.header-text {
  font-size: larger;
  font-weight: 500;
}

.searchbox {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.search {
  height: 32px;
  width: 300px;
  background: var(--text-bg-color);
  border: transparent;
  border-radius: 4px;
}

.search:focus {
  border: var(--color-secondary) 1px solid;
  outline: none;
}

.toggleTheme {
  min-width: 100px;
  background: var(--color-secondary);
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.toggleTheme > * {
  transition:
    background-color 600ms ease,
    transform 600ms ease;
  border-radius: 100vh;
  cursor: pointer;
}

.innerBtn {
  flex: 1;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleTheme .active {
  background: var(--text-bg-color);
  transform: scale(1.05);
}

.toggleTheme .active i {
  color: color-mix(in srgb, var(--color-secondary) 80%, black);
}

input {
  padding-inline: 8px;
}
