<div class="toolbar">
  <div class="title">
    <button class="menu-icon" aria-label="menu hamburger icon">
      <i class="bi bi-list"></i>
    </button>
    <p class="header-text">Tasks</p>
  </div>

  <div class="searchbox">
    <input class="search" type="text" class="search" placeholder="Search" />

    <div class="toggleTheme">
      <button class="menu-icon" (click)="toggleDarkMode()">
        <i class="bi bi-brightness-high"></i>
      </button>
      <button class="menu-icon" (click)="toggleDarkMode()">
        <i class="bi bi-moon"></i>
      </button>
    </div>
  </div>
</div>
