<div class="toolbar">
  <div class="title">
    <button class="menu-icon" aria-label="menu hamburger icon">
      <i class="bi bi-list"></i>
    </button>
    <p class="header-text">Planner</p>
  </div>

  <div class="searchbox">
    <input
      class="search"
      type="text"
      class="search"
      placeholder="Search by title"
      (input)="onSearch($event)"
    />
  </div>
  <div class="tools">
    <div class="export">
      <app-button (click)="exportCSV()" [btnDetails]="exportButtonConfig" />
    </div>

    <div class="toggleTheme">
      <div class="innerBtn active" id="lightMode">
        <button class="menu-icon" (click)="toggleDarkModeOff()">
          <i class="bi bi-brightness-high-fill" id="sun"></i>
        </button>
      </div>
      <div class="innerBtn" id="darkMode">
        <button class="menu-icon" (click)="toggleDarkModeOn()">
          <i class="bi bi-moon-fill" id="moon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
